@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --bg-color: #ffffff;
  --text-main: #0f172a;
  --sat: env(safe-area-inset-top, 0px);
  --sab: env(safe-area-inset-bottom, 0px);
  --sal: env(safe-area-inset-left, 0px);
  --sar: env(safe-area-inset-right, 0px);
}

:root.dark {
  --bg-color: #0f172a;
  --text-main: #f1f5f9;
}

/* Base resets & Touch Ergonomics */
html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  padding-top: var(--sat);
  padding-bottom: var(--sab);
  padding-left: var(--sal);
  padding-right: var(--sar);
  min-height: 100vh;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

button, a {
  touch-action: manipulation;
}